@import "../../assets/styles/styles.scss";

.spaceheading {
  background-image: url(../../assets/img/space-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 48px 0 32px 32px;
  text-align: left;
}
