@import "./MoreCategory.scss";
@import "./SpaceHeading.scss";

.headerline {
  padding: 64px 0;
  .container {
    display: flex;
    .headerline__right {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 32px;
    }
  }
}
