.product {
  padding: 64px 0;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .action {
      .Button {
        border: none;
      }
    }
  }
  .pd__list {
    --rp: 4;
    margin-top: 32px;
  }
}
.blog {
  padding: 64px 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 469px 269px 369px;
    grid-gap: 0 31.5px;
  }
  &__column {
    &:nth-child(3) {
      .blog__item {
        margin-bottom: 32px;
      }
    }
  }
}
