@import "../../assets/styles/styles.scss";

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  &-left,
  &-right {
    display: flex;
  }
  &-left {
    .item {
      color: $black-text;
      font-family: or;
      font-size: 12px;
      line-height: 16px;
      &:nth-child(1) {
        .item-link {
          -webkit-text-stroke: 0.5px $black-cl;
          color: $green-bold;
          font-size: 12px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
      &:nth-child(2) {
        margin: 0px 33px;
      }
    }
  }
  &-right {
    .item {
      &-link {
        font-family: or;
        font-size: 12px;
        line-height: 16px;
        color: $green-bold;
      }
      &:nth-child(2) {
        margin: 0px 38px;
      }
    }
  }
}
