.footer {
  padding-top: 100px;
  &__top {
    display: flex;
    justify-content: space-between;
    &-list {
      text-align: left;
      .category__title {
        margin-bottom: 16px;
      }
      .category__item {
        .item {
          margin-bottom: 16px;
        }
      }
    }
  }
  &__bottom {
    .title {
      font-family: psb;
      text-align: left;
    }
    &-tag {
      text-align: left;
      .tag {
        margin-right: 16px;
      }
    }
  }
  &__copyright {
    font-family: or;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-align: left;
  }
}
